<?xml version="1.0" encoding="UTF-8" ?>
<Configuration debug="true">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern="%d{ISO8601} %highlight{${LOG_LEVEL_PATTERN:-%5p}}{DEBUG=normal} %style{%thread}{magenta} %style{%-23.25c{1}}{cyan} : %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.apache" level="ERROR"/>
        <Logger name="httpclient" level="ERROR"/>

        <Root level="TRACE">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration >